-- app.renderLayout("My Pods")

	h1.page-header	Pods

	table.table.table-striped.table-hover.table-condensed.table-responsive
		tr
			th	Name
			th	Version
			th	Updated On
			th	Downloads
			th	Summary
		-- allPods.each |pod|
			tr
				th	${pod.name}
				th	${pod.version}
				th	${pod.builtOn}
				th	${downloads(pod)}
				th	${pod.meta.summary}
		