
//@electric-blue:			#33B5E5;
//@electric-green:		#20EE23;

//@colour-rss:			@brand-warning;
//@colour-white:			#FFFFFF;
//@colour-black:			#131313;



/* ---- Mixins ---------------------------------------------------------------------------------- */



/* ---- Helpful Classes ------------------------------------------------------------------------- */

.nowrap {
	white-space: 		nowrap;
}

.clickable {
	cursor:				pointer;
}

.text-centre {
	text-align:			center;
}

.text-right {
	text-align:			right;
}

.display-none {
	display:			none;
}

//.externalLink:after {
//	content:		"\A0\E80C";
//	font-family:	"factoryicons";
//	font-size:		smaller;
//}



/* ---- Bootstrap Overrides --------------------------------------------------------------------- */

body {
	padding-top:		@navbar-height + @navbar-margin-bottom;
}


