
.podList {
	// Bootstrap overrides a margin setting
	padding-top:		@padding-large-vertical;
	
	.podMediaIcon {
		.img-rounded;
		width:		64px;
		height:		64px;
	}

	.jsIcon {
		margin-left:	@padding-small-horizontal / 2;
	}
}

.podTable {
	.tableIcon {
		img {
			width:		64px;
			height:		64px;
		}
		margin-right:	@padding-base-horizontal;
	}

	.jsIcon {
		margin-right:	@padding-small-horizontal / 2;
	}
}
