
.syntax {
	// reset syntax
	b   { font-weight:normal; }	// brackets
	i   { font-style:normal; }	// keywords
	em  { font-style:normal; }	// strings and URIs
	q   { font-style:normal; }	// comments
	q:before, q:after { content: ""; }
	s	{ text-decoration: none; }	// comments

	// theme source code
	b   { color:#f00; }
	i   { color:#00f; }
	em  { color:#077; }
	q,s { color:#070; }
}
