
#podSummaryPage {
	article {	// don't affect the sidebarnav
		h2, h3 {
			margin-top:			@line-height-computed * 2;
		}
	}

	.installText {
		cursor:				pointer;
		
		input {
			width:				100%;
			background-color:	transparent;	// inherit no work on IE
			border-width:		0;
			cursor:				pointer;
			white-space:		nowrap;
			overflow:			hidden;
			text-overflow:		ellipsis;
			box-sizing:			border-box;
			padding-right:		@padding-large-horizontal + 16px;
			position:			relative;	// to position icon
		}
		.copyIcon {
			position:			absolute;
			right:				@padding-large-horizontal + 8px;
		}
	}
	
	.downloadPod {
		.lead;
		margin:		(@padding-large-vertical *2) (@padding-large-horizontal *2);
	}

	.podVersions .podVersion {
		display:				inline-block;
		min-width:				60px;
	}

	.dependencyGraph {
		border	: 1px solid #000;
		
		.link {
			fill			: none;
			stroke			: #666;
			stroke-width	: 1.5px;	// IE can't show 1.5px!
		}

		circle {
			fill			: #ccc;
			stroke			: #333;
			stroke-width	: 1.5px;
		}
		circle.thisPod {
			fill			: #0f0;
		}
		circle.direct {
			fill			: #6c6;
		}
		circle:hover {
			cursor			: pointer;
		}

		text {
			font			: 13px sans-serif;
			pointer-events	: none;
			text-shadow		: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
		}
	}
}