
#podsIndexPage {
	.btn-group {
		margin-bottom:	@padding-large-vertical;
	}

	#tags {
		padding:		@padding-large-vertical 0;
	}

	.tag:hover {
		cursor:	pointer;
	}

	.tag.label {
		background-color:	@label-default-bg;
	}
	
	.podList .media {
		display:	none;
	}
}
